!!!
%html
  %head
    %meta{ 'content'=>"IE=edge", 'http-equiv'=>"X-UA-Compatible" }
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport" }

    %title= current_page.data.title || "Queen's Attack: A React Demo"

    %link{ href: 'https://fonts.googleapis.com/css?family=Uncial+Antiqua', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag :site
    = javascript_include_tag :'https://code.jquery.com/jquery-2.2.4.min.js', integrity: 'sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin: 'anonymous'
    = javascript_include_tag :'bootstrap-sprockets'
    = javascript_include_tag :bootstrap
    = javascript_include_tag :react
    = javascript_include_tag :'react-dom'
    = javascript_include_tag :'https://unpkg.com/babel-core@5.8.38/browser.min.js'
    %script{ src: "javascripts/react-components.js.jsx.es6" }

  %body{ class: page_classes }
    =yield
